
<h2>Add Student</h2>
<!-- Form to input the data of the student to be added-->
<form action="/addStudent" method="POST">
    <label >Student ID:  </label>
    <input type="text" name="sid" value="<%= sid %>"/><br>
    <label >Name: </label>
    <input type="text" name="name" value="<%= name %>"/><br>
    <label >GPA: </label>
    <input type="text" name="gpa" value="<%= gpa %>"/><br>
    <input type="submit" value="OK">
  </form>

  <a href="/">Home</a>